{% extends "maqueta.html" %}
{% load staticfiles %}


{% block section %}
{%if prods%}
{%for prod in prods%}
<section class="page-section">
	<div class="container">
		<div class="product-item">
			<div class="product-item-title d-flex">
				<div class="bg-faded p-5 d-flex mr-auto rounded">
					<h2 class="section-heading mb-0">
						<span class="section-heading-upper">Categoría: {{prod.categoria}}</span>
						<span class="section-heading-lower">{{prod.nombre}}</span>
					</h2>
				</div>
			</div>
			
			<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{prod.foto.url}}" alt="" >
			<div class="product-item-description d-flex ml-auto">
				<div class="intro-text left-0 text-center bg-faded p-5 rounded">
					<p class="mb-0">{{prod.descripcion}}</p>
					<div class="intro-button mx-auto">
						<a class="btn btn-primary btn-xl" href="{% url 'addCarrito' idProd=prod.idProducto %}">Añadir al carrito</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
{% endfor %}
{%else%}
<section class="page-section">
	<div class="container">
		<div class="product-item">
			<div class="product-item-title d-flex">
				<div class="bg-faded p-5 d-flex mr-auto rounded">
					<h2 class="section-heading mb-0">
						<span class="section-heading-upper">NADA PARA MOSTRAR</span>
						<span class="section-heading-lower">NADA PARA MOSTRAR</span>
					</h2>
				</div>
			</div>
			<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="" alt="">
			<div class="product-item-description d-flex ml-auto">
				<div class="bg-faded p-5 rounded">
					<p class="mb-0">NADA PARA MOSTRAR</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}