{% extends "maqueta.html" %}


{% block section %}
<section class="page-section clearfix">
		<div class="container">
		  <div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/images/pan.jpg" alt="">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
			  <h2 class="section-heading mb-4">
				<span class="section-heading-upper">Repostería</span>
				<span class="section-heading-lower">Disfrute el sabor casero de la abuela</span>
			  </h2>
			  <p class="mb-3">
				  Cada mordisco es el paraíso en el paladar
			  </p>
			  <div class="intro-button mx-auto">
				<a class="btn btn-primary btn-xl" href="#">Revisa nuestro catalogo!</a>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
{% endblock %}